.container {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 18%;
  }

  .text {
    line-height: 180%;
  }
}

p {
  text-align: center;
  line-height: 135%;
}

p .copy:hover {
  fill: rgb(188, 183, 183);
  cursor: pointer;
}

.visit-button {
  height: calc(35px + 2vmin);
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  background-color: white;
  font-size: calc(12px + 2vmin);
  text-align: center;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
}

button:hover {
  cursor: pointer;
  background-color: gainsboro;
}

button .redirect {
  fill: black;
}
